[project]
	description = Automatically exported from code.google.com/p/android-voice-lan
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/bk20101384
[access "refs/for/refs/*"]
	read = group user/bk20101384
	push = group user/bk20101384
	label-Code-Review = -2..+2 group user/bk20101384
	label-Verified = -1..+1 group user/bk20101384
	rebase = group user/bk20101384
	removeReviewer = group user/bk20101384
	submit = group user/bk20101384
[access "refs/heads/*"]
	read = group user/bk20101384
	create = group user/bk20101384
	push = +force group user/bk20101384
	pushMerge = group user/bk20101384
[access "refs/tags/*"]
	push = +force group user/bk20101384
	pushTag = group user/bk20101384
	pushSignedTag = group user/bk20101384
